@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: fit-content;
  height: 100vh;
  margin: 0 auto;
  background-image: url("./assets/1077.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  place-items: center;
  min-height: 100%;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
