@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: #242424;
  background-color: #eeeded;
}

body {
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  background: gray;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
